body {
  margin: 0;
  padding: 0;
  background-color: #ffe6ee;
  height: 100vh;
}
#login-block {
  background-image: url('images/background-login.jpg');
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 3%;
  margin-right: 2%;
}
#login-form{
  width:200%;
  background-color:#fbfff0;
  margin-top: 70%;
  margin-left: 70%;
  padding:20%;
}
#register-form{
    width:30%;
    background-color:#fbfff0;
    margin-top: 2%;
    margin-left: 10%;
    padding:2%;
}